@import url("reset.css");
@import url("components/main.css");
@import url("components/footer.css");
@import url("components/login.css");
@import url("components/navbar.css");

* {
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}
