.logo-spotify {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  margin-top: -55px;
}

.box-login {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5% 0 0 0;
  width: 50%;
  height: 85%;
  position: absolute;
  left: 25%;
  top: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.icones-centralizados {
  flex-direction: column;
  align-items: center;
}

.title-login {
  text-align: center;
  font-size: 2em;
  padding: 20px;
  margin-top: -25px;
}

.logo-links {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  align-items: center;
}

.text-link {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.9);
  text-transform: none;
  letter-spacing: normal;
  margin: auto;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.link-login {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding: 10px;
  color: #ffff;
}

.container-link-login {
  margin: 12px auto;
  width: 300px;
  border: 1px solid white;
  border-radius: 20px;
  flex-direction: column;
}

.barra-vertical {
  width: 35vw;
}
.label-login {
  color: white;
  padding: 10px;
  display: inline-block;
  font-weight: 700;
  text-align: left;
}

.container-login-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;
  left: 30%;
}

.login-input {
  padding: 3px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
  width: 300px;
  height: 7vh;
  box-sizing: border-box;
}

.login-input::placeholder {
  padding: 8px;
}

.btn-login {
  background-color: #1ed760;
  color: black;
  width: 300px;
  height: 50px;
  border-radius: 30px;
  margin: 10px;
}

.btn-login:hover {
  cursor: pointer;
}

.box-increver-se {
  margin: 20px;
  padding: 10px;
  /* margin-top: 10px; */
  font-size: 1em;
}

.sem-conta {
  color: gray;
}

.increver-se {
  color: #ffff;
}
