.navbar-container {
  background-color: black;
  margin: calc(8px * -1);
  padding: 8px;
  display: flex;
  min-height: calc(48px + 8px * 2);
  position: relative;
}

.box-navbar {
  justify-content: space-between;
  display: flex;
  text-align: center;
  margin: -8px;
  padding: 8px;
}

.logo-navbar {
  width: 45px;
  height: 45px;
  margin: -8px;
  padding: 8px;
  border-radius: 50%;
}
.btn-home {
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(34, 34, 34);
  border: 1px solid rgb(34, 34, 34);
  padding: 8px;
  margin: 8px;
  opacity: 0.5;
}

.btn-home:hover {
  cursor: pointer;
  color: white;
  opacity: 1;
}

/* .svg-home:hover {
  background-color: white;
} */

#linha-vertical {
  height: 20px;
  border-right: 1px solid #ffff;
  position: relative;
  top: 19px;
  right: 50px;
  margin: 0px;
  padding: 0px;
}
